body {
  background-color: #e0e0de !important;
}
p {
  font-size: 1.3em;
}
a {
  color: rgba(255, 255, 255, 0.5);
}
a.darklink {
  color: rgba(0, 0, 0, 0.65)
}
a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.jumbotron {
  background-color: rgba(255, 0, 0, 0);
}
.jumbotron h1 {
  color: rgba(255, 255, 255, 0.95)!important;
}
.jumbotron h2 {
  color: rgba(255, 255, 255, 0.6)!important;
}
.heading {
  text-align: center;
  background-color: #3e4042;
  background-image: url(../img/background.jpg);

}
.topper {
  color: rgba(255, 255, 255, 0.0);
}
img {
  margin-bottom: 20px;
}

h2, h3 {
  text-align: center;
}

.aboutme {
  padding-bottom: 70px;
}
.projects1, .projects2 {
  margin-top: 40px;
}
.education, .experience, .aboutme {
  margin-top: 30px;
}
.education {
  padding-right: 50px;
}
.glyphicon {
  text-align: center;
  font-size: 100px;
  margin: 25px;
}
.aboutmec {
  text-align: center;
}
.bgblack {
  background-color: #212121;
  color: white;
  padding-bottom: 40px;
}
.right {
  float: right;
}
.lastrow {
  padding-bottom: 30px;
}
.aboutmec {
  text-align: center;
}
